<%- include('header') -%>
<%- include('menu', {active: 'foglalas'}) -%>

<form method="POST">
    <div class="row">
        <div class="col-4 m-3">
            <label class="me-2" for="from">Erkezes:   </label>
            <input type="date" id="from" name="from" max="2022-12-31" value="2021-10-11">
        </div>
        <div class="col-3 m-3">
            <label for="people">Emberek szama:  </label>
            <input type="number" id="people" value="2" name="numOfPeople" min="1" max="4" value="<%= reservation.numOfPeople %>">
        </div>
    </div>
    <div class="row">
        <div class="col-4 m-3">
            <label class="me-2" for="to">Tavozas:</label>
            <input type="date" id="to" name="to" value="2021-10-13" max="2022-12-31">
        </div>
        <div class="col-2 m-3">
            <label class="me-2" for="_room">Szoba típusa:</label>
            <select class="form-select" id="_room" name="_room">
                <% rooms.forEach(function(room){ %>
                    <option value="<%= room.id %>">
                        <%= room.name %>
                    </option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="row mb-3 ps-3 mt-3">
        <label for="firstName" class="col-1">Vezeteknev: </label>
        <div class="col-6">
            <input type="text" name="firstName" class="form-control" id="firstName" value="<%= reservation.firstName %>">
        </div>
    </div>
    <div class="row mb-5 ps-3">
        <label for="lastName" class="col-1">Keresztnev: </label>
        <div class="col-6">
            <input type="text" name="lastName" class="form-control" id="lastName" value="<%= reservation.lastName %>">
        </div>
    </div>

    <div class="mb-3 mt-5 ps-3 col-4">
        <label for="emailAddress" class="form-label me-3">E-mail cim:</label>
        <input type="email" class="form-control" id="emailAddress" name="email" value="<%= reservation.email %>">
    </div>
    <div class="mb-3 mt-3 ps-3 col-4">
        <label for="mobileNumber" class="form-label me-3">Telefonszam:</label>
        <input type="number" class="form-control" id="mobileNumber" name="tel" value="<%= reservation.tel %>">
    </div>

    <div class="row">
        <div class="col-6 m-3">
            <a class="ms-4 mt-5 btn btn-secondary" href="/admin/reservations">Mégsem</a>
        </div>
        <div class="col-2 m-3">
            <input type="submit" class="ms-4 mt-5 btn btn-success" value="Mentés"/>
        </div>
    </div>
</form>

<%- include('footer') -%>
